/*  your css code here. If applicable */
#grid{
	display:grid;
	grid-template-columns:repeat(4,242.5px);
	grid-template-rows:repeat(5,124px);
	grid-gap:10px 10px;
	
}
#grid>div{
	border:2px solid black;

}
#div1{
	grid-column:span 4 /auto;
	
}
#div2{
	grid-row:span 4 /auto;
 
}
#div3{
	
}

#div4{
	grid-column:span 2 /auto;
	
}
#div5{
	grid-column:span 2 /auto;
	
}



#div6{
    
	
}
#div7{
	
}
#div8{

}
#div9{

}

#div10{
	
	grid-column:span 3 /auto;
}
